<p id="notice"><%= notice %></p>

<p>
  <b id="b">Name:</b>
  <%= @address.name %>
  
</p>
<p>
<b id="b">Email:</b>
  
  <%= @address.email %>
  
</p>
<p>
<b id="b">Phone:</b>
  
  <%= @address.phone %>
</p>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
